@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


@model IEnumerable<Personne>
<!-- Lien pour accéder à la page de création -->
<a href="@Url.Action("Create", "Home")" class="btn btn-success">Add a recipe</a>

<h2>List of recipes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var personne in Model)
    {
        <tr>
            <td>@personne.Nom</td>
            <td>@personne.Difficulty</td>
            <td>
                <a href="@Url.Action("Details", new { id = personne.Id })">Details</a> |
                <a href="@Url.Action("Edit", new { id = personne.Id })">Edit</a> |
                <a href="@Url.Action("Delete", new { id = personne.Id })">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
